p{
    text-align: center;
}
.header{
    overflow: hidden;
    left:0;
    right:0;
    height:60px;
    background: rgba(200, 252, 253, 0.4);
    border-bottom:1px solid rgb(150, 255, 255);
}
.logo{
    float:left;
    width:200px;
    height:60px;
    text-align: center;
    line-height: 60px;
    font-family: "Courier";
    font-size: 45px;
    color:#000;
    /*background-image: url("/../Medy/img/logo.png");*/
}
.wrapper{
    margin:50px auto;
    width: 350px;
}
.successinfo{
    width:350px;
    height:400px;
}